/*
 * CSS styleshet for the "Deadsonic" theme.
 *
 *
 */

 @import "dead-default.css";
 
/*BASE*/

/* The primary defaults. */
body {
    font-family: 'Sorts Mill Goudy', serif;
    color: #be6c09;
    background: #000;
}

/* The secondary foreground colour used for h1, details etc. */
h1, .detail, .albumComment {
    color: #b3b3b3;
}

/* Foreground colour used for h2, bold and tr. */
h2, b, tr {
    color: #f0f0f0;
}

/* Link color 
a:link, a:active, a:visited, a:link *, a:active *, a:visited * {
    color: #b3b3b3
}*/

/* Link hover colour 
a:hover, a:hover * {
    color: #b3b3b3;
}*/

/* regular foreground color */
.dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter, .dataTables_wrapper .dataTables_info, .dataTables_wrapper .dataTables_processing, .dataTables_wrapper .dataTables_paginate {
    color: #e10a0a;
}

.dataTables_wrapper .dataTables_filter input {
    color: #be6c09;
}

/* a:link color 
.dataTables_wrapper .dataTables_paginate .paginate_button, button.dt-button, div.dt-button, a.dt-button {
    color: #b3b3b3 !important;
}*/

/* a:hover color + .border1 border-color 
.dataTables_wrapper .dataTables_paginate .paginate_button:hover, button.dt-button:hover:not(.disabled), div.dt-button:hover:not(.disabled), a.dt-button:hover:not(.disabled) {
    color: #b3b3b3 !important;
    border-color: #b3b3b3;
}
*/




a, #artistTopSongsTable_previous, #artistTopSongsTable_paginate > span > a.paginate_button.current, #artistTopSongsTable_paginate > span > a:nth-child(2), #artistTopSongsTable_paginate > span > a:nth-child(3), #artistTopSongsTable_paginate > span > a:nth-child(4), #artistTopSongsTable_paginate > span > a:nth-child(5), #artistTopSongsTable_next, #playQueueMusic_previous, #playQueueMusic_paginate > span > a, #playQueueMusic_next, #filesTable_previous, #filesTable_paginate > span > a, #filesTable_next, #subDirsTable_previous, #subDirsTable_paginate > span > a, #subDirsTable_next {
    background-image: linear-gradient(
      to right,
      #ff0000,
      #ff0000 50%,
      #ffe62c 50%
    );
    background-size: 200% 100%;
    background-position: -100%;
    display: inline-block;
    padding: 5px 0;
    position: relative;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.3s ease-in-out;
  }
  
a:before, #artistTopSongsTable_previous:before, #artistTopSongsTable_paginate > span > a.paginate_button.current:before, #artistTopSongsTable_paginate > span > a:nth-child(2):before, #artistTopSongsTable_paginate > span > a:nth-child(3):before, #artistTopSongsTable_paginate > span > a:nth-child(4):before, #artistTopSongsTable_paginate > span > a:nth-child(5):before, #artistTopSongsTable_next:before, #playQueueMusic_previous:before, #playQueueMusic_paginate > span > a:before, #playQueueMusic_next:before, #filesTable_previous:before, #filesTable_paginate > span > a:before, #filesTable_next:before, #subDirsTable_previous:before, #subDirsTable_paginate > span > a:before, #subDirsTable_next:before {
    content: '';
    background: #ff0000;
    display: block;
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 3px;
    transition: all 0.3s ease-in-out;
  }
  
a:hover, #artistTopSongsTable_previous:hover, #artistTopSongsTable_paginate > span > a.paginate_button.current:hover, #artistTopSongsTable_paginate > span > a:nth-child(2):hover, #artistTopSongsTable_paginate > span > a:nth-child(3):hover, #artistTopSongsTable_paginate > span > a:nth-child(4):hover, #artistTopSongsTable_paginate > span > a:nth-child(5):hover, #artistTopSongsTable_next:hover, #playQueueMusic_previous:hover, #playQueueMusic_paginate > span > a:hover, #playQueueMusic_next:hover, #filesTable_previous:hover, #filesTable_paginate > span > a:hover, #filesTable_next:hover, #subDirsTable_previous:hover, #subDirsTable_paginate > span > a:hover, #subDirsTable_next:hover {
   background-position: 0;
  }
  
a:hover::before, #artistTopSongsTable_previous:hover::before, #artistTopSongsTable_paginate > span > a.paginate_button.current:hover::before, #artistTopSongsTable_paginate > span > a:nth-child(2):hover::before, #artistTopSongsTable_paginate > span > a:nth-child(3):hover::before, #artistTopSongsTable_paginate > span > a:nth-child(4):hover::before, #artistTopSongsTable_paginate > span > a:nth-child(5):hover::before, #artistTopSongsTable_next:hover::before, #playQueueMusic_previous:hover::before, #playQueueMusic_paginate > span > a:hover::before, #playQueueMusic_next:hover::before, #filesTable_previous:hover::before, #filesTable_paginate > span > a:hover::before, #filesTable_next:hover::before, #subDirsTable_previous:hover::before, #subDirsTable_paginate > span > a:hover::before, #subDirsTable_next:hover::before {
    width:100%;
  }

  /*

.dataTables_wrapper .dataTables_paginate .paginate_button.disabled::before, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active::before {
    content: '';
    background: #ff0000;
    display: block;
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 3px;
    transition: all 0.3s ease-in-out; 
}

.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active:hover {
    background-position: 0;
    color: #ff0000;

}

.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover::before, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active:hover::before {
    width:100%;
    color: #ff0000;
}
*/

button.dt-button, div.dt-button, a.dt-button, input.dt-button {
  color: #be6c09;
}


/* Simple border. */
.border1, .ruleTableHeader, .ruleTableCell, .log {
    border: 1px solid #b3b3b3;
}

.dataTables_wrapper .dataTables_length select {
    color: #be6c09;
    background-color: #111;
}   

button.dt-button, div.dt-button, a.dt-button, input.dt-button {
    color: #be6c09;
}

select:not(:-internal-list-box) {
    background-color: transparent;
    overflow: visible !important;
    color: #be6c09;
}

#moreActions {
    background-color: #111;
    color: #be6c09;
}

.mejs__container {
    background: transparent;
    color: #be6c09;
}
  
.mejs__container .me_cannotplay a {
    background: transparent;
    color: #be6c09;
}
  
.mejs__controls:not([style*="display: none"]) {
    background: transparent;
}

.headerSelected {
    border-bottom: 3px solid darkorange;
}

.topframe::-webkit-scrollbar:vertical {
    display:none
}

.leftframe::-webkit-scrollbar:horizontal {
    display:none
}

div.dt-buttons {
    padding-top: 0.25em;
    float: right;
}

button.dt-button:focus:not(.disabled),
button.dt-button:active:not(.disabled),
button.dt-button:active:not(.disabled):hover:not(.disabled),
div.dt-button:focus:not(.disabled),
div.dt-button:active:not(.disabled),
div.dt-button:active:not(.disabled):hover:not(.disabled),
a.dt-button:focus:not(.disabled),
a.dt-button:active:not(.disabled),
a.dt-button:active:not(.disabled):hover:not(.disabled) {
    background: none;
    box-shadow: none;
    text-shadow: none;
}

.dataTables_wrapper .dataTables_processing {
    background: none;
}

/* Player controls */
a.player-control:hover {
    text-decoration: none;
}

/* Color for warning messages. */
.warning {
    color: red;
}

/* Simple dark border. */
.border1, .ruleTableHeader, .ruleTableCell, .log {
    border: 1px solid rgb(112, 112, 112);
}

/* Login page */

#loginframe {
    padding: 20px 50px;
    margin: 100px 50px;
    display: list-item;
    list-style: none;
    text-align: center;
}

#loginframe input[type=text],
#loginframe input[type=submit],
#loginframe input[type=password] {
    width: 20rem;
    margin-bottom: 0.5em;
}

#loginframe input[type=submit] {
    margin: 1rem auto;
    padding: 0.3rem;
    background: transparent;
    color: red;
    transition: color 0.2s ease, background 0.2s ease;
}

#loginframe > * {
    margin: 0 auto;
    display: block;
}

#loginframe .loginmessagetop {
    margin-bottom: 1em;
    max-width: 30rem;
}

#loginframe input[type=submit]:hover {
    background: transparent;
    color: #be6c09;
}

#loginremember {
    display: inline-flex;
    align-items: center;
    margin-right: 10px;
}

#loginframe .loginmessagebottom {
    margin-top: 1em;
    max-width: 50em;
}

/*MY CONTROLS*/

/* The primary background color. */
.bgcolor1, table.music tr:nth-of-type(even) {
    background-color: #000;
}

/* The secondary background color. */
.bgcolor2, .ruleTableHeader, .log, table.music tr:nth-of-type(odd)  {
    background-color: #1c1c1c;
}

table.dataTable.hover tbody tr:hover, table.dataTable.display tbody tr:hover {
    background-color: #631d1d;
}

table.dataTable tbody>tr.selected, table.dataTable tbody>tr>.selected {
    background-color: #3d3d3d;
}

table.music.dataTable tbody tr.currently-playing {
    background-color: #666666;
}

table.music.dataTable tbody tr.currently-playing:hover {
    background-color: #555555;
}

body > table {
    background-image: url(../icons/dead/redox-01-1920x1080.png);
}

/* Link Control */

a {
  background-image: linear-gradient(
    to right,
    #ff0000,
    #ff0000 50%,
    #ffe62c 50%
  );
  background-size: 200% 100%;
  background-position: -100%;
  display: inline-block;
  padding: 3px 0;
  position: relative;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease-in-out;
}

a:before {
  content: '';
  background: #ff0000;
  display: block;
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 3px;
  transition: all 0.3s ease-in-out;
}

a:hover {
 background-position: 0;
}

a:hover::before {
  width:100%;
}

/* Main frame image. */
.mainframe {
    background-image: url(../icons/dead/buried-1920x1080.png);
    background-repeat:repeat;
    background-attachment:fixed;
    background-position:center;
    padding-left:1em;
}

input, textarea, select, button {
    background-color: #111;
    color: #be6c09;
}

#loginframe {
    padding: 10px 10px;
    margin-left: auto;
    margin-right: auto;
    /* margin: 60px 60px;*/
    font-family: 'Sorts Mill Goudy', serif;
    background-image: url(../icons/dead/skulls-1920x1080.png);
    font-size: larger;
    display: list-item;
    list-style: none;
    text-align: center;
    max-width: 900px;
}

#loginframe img {
    /* margin-top: 1em; */
    height: 250px;
    padding: 10px 10px;
}

#loginframe .loginmessagetop {
    margin-top: 1em;
    margin-bottom: 1.5em;
    font-size: larger;
    font-family: 'Sorts Mill Goudy', serif;
    color: #FFEB3B;
}

#loginremember {
    color: #FFEB3B;
    font-style: bold;
    /* margin-bottom: 3.5em; */
}

#loginframe input[type=submit] {
    margin: 1rem auto;
    padding: 0.3rem;
    background: #5f511b;
    font-family: 'Sorts Mill Goudy', serif;
    color: #FFEB3B;
    transition: color 0.2s ease, background 0.2s ease;
}

/* .coverart {
    background-color: #000;
    color: #be6c09;
    border-radius: 2px;
} */

.coverart .caption2 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 0px 8px 5px 8px;
    font-size: 90%;
  /*  background: #000;*/
    color: #ff0000;
    line-height: 100%;
    font-weight: 300;
}

.rightframe {
    background-image: url(../icons/dead/skulls-1920x1080.png);
}

.leftframe {
    background-image: url(../icons/dead/rocky-wall-1920x1080.png);
}

th h2 {
    color: #ff0000;
    font-family: 'Jacques Francois Shadow', cursive;
    font-size: xx-large;
    text-align: right;
}

tbody > tr > th:nth-child(2) > a > img {
    padding-right: 20px;
}

/*Remove forgot password*/
.mainframe.bgcolor1 form div#loginframe.bgcolor2.shadow div.details a {
    display: none;
}

.shadow {
    box-shadow: 0 0 25px 3px #ebb802;
}

