name: 'Stable Deploy CI (Maven)'

on:
  push:
    branches: [ stable/** ]

env:
  REGISTRY_IMAGE: ghcr.io/kagemomiji/airsonic-advanced

jobs:
  deploy:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        cfg:
        - jdk: 17
          platform: linux/arm/v7
          docker_version: 17.0.15_6
        - jdk: 21
          platform: linux/amd64
          docker_version: 21.0.7_6
        - jdk: 21
          platform: linux/arm64
          docker_version: 21.0.7_6
    if: startsWith(github.ref, 'refs/heads/stable/')
    outputs:
      tag: ${{ steps.tagcalc.outputs.tag }}
      tag_minor: ${{ steps.tagcalc.outputs.minor }}
      tag_major: ${{ steps.tagcalc.outputs.major }}
    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          java-version: ${{matrix.cfg.jdk}}
          distribution: 'temurin'
      - name: Cache Maven packages
        uses: actions/cache@v4
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
        with:
          platforms: ${{matrix.cfg.platform}}
      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@v3
        with:
          install: true
      - name: Available platforms
        run: echo ${{ steps.buildx.outputs.platforms }}
      - name: Remove snapshots
        run: mvn versions:set -DremoveSnapshot=true -DgenerateBackupPoms=false
      - name: Build with Maven
        run: mvn -DskipTests -Dcheckstyle.skip=true package
      - name: Calculate tags
        if: success()
        id: tagcalc
        run: |
          # Create tag
          tag=$(grep "version=" airsonic-main/target/generated/build-metadata/build.properties | cut -d"=" -f2);
          minor=$(echo $tag | cut -d"." -f1-2);
          major=$(echo $minor | cut -d"." -f1);
          echo $tag;
          echo "tag=$tag" >> $GITHUB_OUTPUT
          echo "minor=$minor" >> $GITHUB_OUTPUT
          echo "major=$major" >> $GITHUB_OUTPUT
      - name: Import GPG Key for signing
        run: echo "${{ secrets.GPG_SIGNING_PRIVATE_KEY }}" | gpg --quiet --batch --yes --import
      - name: Sign artifacts
        run: |
          echo "${{ secrets.GPG_SIGNING_PASSPHRASE }}" | gpg --quiet --batch --yes --pinentry-mode loopback --clearsign --passphrase-fd 0 airsonic-main/target/artifacts-checksums.sha;
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - run: mkdir -p install/docker/target/dependency
      - run: cp airsonic-main/target/airsonic.war install/docker/target/dependency/airsonic-main.war
      - name: Docker meta
        id: docker-meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.REGISTRY_IMAGE }}
          tags: |
            stable
            stable-latest
            stable-${{ steps.tagcalc.outputs.tag }}
            ${{ steps.tagcalc.outputs.tag }}
            gitcommit-${{ github.sha }}
      - name: Build and push multiplatform images to Dockerhub
        uses: docker/build-push-action@v6
        with:
          file: install/docker/Dockerfile
          context: install/docker
          platforms: ${{matrix.cfg.platforms}}
          build-args: |
            IMAGE_JAVA_VERSION=${{matrix.cfg.docker_version}}
          push: true
          labels: ${{steps.docker-meta.outputs.labels}}
          outputs: type=image,name=${{ env.REGISTRY_IMAGE }},push-by-digest=true,name-canonical=true,push=true
      - name: Upload digest
        uses: actions/upload-artifact@v4
        with:
          name: docker-digest-${{ steps.prep.outputs.PLATFORM_PAIR }}
          path: /tmp/digests/*
          if-no-files-found: error
          retention-days: 1
      - name: Upload war
        if: ${{matrix.cfg.jdk == 21 && matrix.cfg.platform == 'linux/amd64'}}
        uses: actions/upload-artifact@v4
        with:
          name: airsonic.war
          path: |
            airsonic-main/target/airsonic.war
          if-no-files-found: error
          retention-days: 1
      - name: Upload checksums
        if: ${{matrix.cfg.jdk == 21 && matrix.cfg.platform == 'linux/amd64'}}
        uses: actions/upload-artifact@v4
        with:
          name: artifacts-checksums.sha
          path: |
            airsonic-main/target/artifacts-checksums.sha
          if-no-files-found: error
          retention-days: 1

  release:
    runs-on: ubuntu-latest
    needs: deploy
    steps:
      - name: checkout
        uses: actions/checkout@v4
      - name: Download digest
        uses: actions/download-artifact@v4
        with:
          name: docker-digest-*
          path: /tmp/digests/*
          merge-multiple: true
      - name: Download war
        uses: actions/download-artifact@v4
        with:
          name: airsonic.war
          path: /tmp/artifacts
          merge-multiple: true
      - name: Download checksums
        uses: actions/download-artifact@v4
        with:
          name: artifacts-checksums.sha
          path: /tmp/artifacts
          merge-multiple: true
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Docker meta
        id: docker-meta
        uses: docker/metadata-action@v5
        env:
          RELEASE_TAG: ${{ needs.deploy.outputs.tag }}
        with:
          images: ${{ env.REGISTRY_IMAGE }}
          tags: |
            stable
            stable-latest
            ${{env.RELEASE_TAG}}
            stable-${{ env.RELEASE_TAG }}
            gitcommit-${{ github.sha }}
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Create manifest list and push
        working-directory: /tmp/digests
        run: |
          docker buildx imagetools create $(jq -cr '.tags | map("-t " + .) | join(" ")' <<< "$DOCKER_METADATA_OUTPUT_JSON") \
            $(printf '${{ env.REGISTRY_IMAGE }}@sha256:%s ' *)
      - name: Inspect Image
        env:
          RELEASE_TAG: ${{ needs.deploy.outputs.tag }}
        run: |
          docker buildx imagetools inspect ${{ env.REGISTRY_IMAGE }}:${{ env.RELEASE_TAG }}

      - name: Deploy to GitHub Release
        id: create_release
        uses: softprops/action-gh-release@v2
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          RELEASE_TAG: ${{ needs.deploy.outputs.tag }}
        with:
          tag_name: ${{ env.RELEASE_TAG }}
          name: Stable Release ${{ env.RELEASE_TAG }}
          draft: true
          prerelease: false
          generate_release_notes: true
          body: |
            List of issues addressed: https://github.com/kagemomiji/airsonic-advanced/issues?q=milestone%3A${{ steps.tagcalc.outputs.tag }}
          files: |
            /tmp/artifacts/airsonic.war
            /tmp/artifacts/artifacts-checksums.sha

